{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% if not app.user %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

        <h3 class="center">Please sign up</h3>

        <div class="login-card">
        {{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}
            <div class="form-row">
                <div class="form-col-sm">
                    {{ form_row(registrationForm.firstname) }} 
                </div>
                <div class="form-col-sm">
                    {{ form_row(registrationForm.lastname) }} 
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-sm">
                    {{ form_row(registrationForm.plainPassword.first, {'label': 'Password', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-col-sm">
                    {{ form_row(registrationForm.plainPassword.second, {'label': 'Repeat Password', 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div>
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'id': 'agreeTerms'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'I agree with the terms and conditions', {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        </div>

            <div class="register-btn">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        
            {{ form_errors(registrationForm) }}
        {{ form_end(registrationForm) }}
    </div>
    {% endif %}
{% endblock %}
