{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
    <div class="first-part-property">
        <h2 class="gold-text-stroke">{{ property.title }}</h2>
        <h3>Discover the charm of {{ property.city }}, nestled in {{ property.country }}! Book your stay now and embark on an unforgettable experience !</h3>
    </div>

    <div class="second-part-property">
        <div class="property-icons">
            <div class="property-param">
                <img class="property-icon" src="{{ asset('img/check-in.png') }}" alt="check-in">
                <p><strong>{{ property.checkIn|date("H:i") }} a.m</strong>.</p>
            </div>
            <div class="property-param">
                <img class="property-icon" src="{{ asset('img/check-out.png') }}" alt="check-out">
                <p><strong>{{ property.checkOut|date("H:i") }} p.m.</strong></p>
            </div>
            <div class="property-param">
                <img class="property-icon" src="{{ asset('img/bed.jpg') }}" alt="bed">
                <p><strong>{{ property.nbRoom }} {{ property.nbRoom > 1 ? 'beds' : 'bed' }}</strong></p>
            </div>
        </div>
        <div class="property-cover-card">
            <img src="{{ asset(property.cover) }}" alt="property.cover">
        </div>
        <div class="property-info-side">
            <div class="property-card-box">
                <strong class="property-card-localisation">{{ property.city }}, {{ property.country }}</strong>
                {% if property.user.username is not empty %}
                        <a class="bg-btn" href="">{{ property.user.username }}</a>
                    {% else %}
                        <a class="bg-btn" href="">{{ property.user.email|split('@')|first }}</a>            
                    {% endif %}
            </div>
            <div class="property-content-card">
                <p>{{ property.content }}</p>
            </div>
            <div class="property-price-book">
                <strong>{{ property.price }} € per day</strong>
                <a class="bg-btn" href="{{ path('new_booking', {'propertyId': property.id}) }}">Book now</a>
            </div>
        </div>
    </div>
{% endblock %}