{# PAGE DE DESCRIPTION DE LA RESERVATION #}

{% extends 'base.html.twig' %}

{% block title %}Reservation n°{{ booking.id }}{% endblock %}

{% block body %}
    <div class="booking-container">

    <h2 class="title">{{ booking.property.title }}</h2>

    {# Obtenir les messages #}
    {% set messages = app.flashes %}
    {% for type, message in messages %}
        {% if type == 'success' %}
            {# Affichage des messages de succès s'il y en a #}
            <div class="alert alert-success">
                {{ message[0] }}
            </div>
        {% endif %}
    {% endfor %}
    
    {# DESCRIPTION DE LA RESERVATION #}
    <h3>Ready for the trip to {{ booking.property.city }}, in {{ booking.property.country }} !</h3>
    <table class="booking-table">
        <thead>
            <th>Booking date</th>
            <th>Reservation number</th>
            <th>Arrival date</th>
            <th>Departure date</th>
            <th>Number of nights</th>
            <th>Total amount</th>
        </thead>
        <tbody>
            <tr class="tac">
                {# Affichage des détails de la réservation #}
                <td>{{ booking.bookingDate|date('d/m/Y') }}</td>
                <td>{{ booking.id }}</td>
                <td>{{ booking.startDate|date('d/m/Y') }}</td>
                <td>{{ booking.endDate|date('d/m/Y') }}</td>
                <td>{{ booking.duration }}</td>
                <td>{{ booking.amount|number_format(2, ',') }} €</td>
            </tr>
        </tbody>
    </table>

    {# Message de bienvenue pour le voyageur #}
    <h4 class="welcome-booking">
        Welcome to your home away from home! Your delightful accommodation awaits you starting from {{ booking.startDate | date('d/m/Y') }} at <span class="checkin-highlight">{{ booking.property.checkIn|date("H:i") }}</span> in the afternoon. As your journey with us concludes on {{ booking.endDate | date('d/m/Y') }} at <span class="checkout-highlight">{{ booking.property.checkOut|date("H:i") }}</span> in the morning, we bid you farewell until next time. Enjoy your stay!
    </h4>

    {# DESCRIPTION DE L'HÔTE ET L'ADRESSE DE L'HÉBERGEMENT #}
    <div class="property-details">

        {# Affichage de l'image de l'annonce réservée avec compte à rebours pour indiquer le temps restant avant le début du séjour #}
        <div id="countdown" class="booking-cover-property" data-start-date="{{ booking.startDate|date('d/m/Y') }}" data-checkin-time="{{ booking.property.checkIn|date('H:i') }}">

            <img src="{{ asset (booking.property.cover) }}" alt="Image de {{ booking.property.title }}">
            <div id="countdownText_{{ booking.id }}" class="cd-text cd-style"></div>

        </div>

        <div class="booking-infos">

            {# DESCRIPTION DE L'ADRESSE #}
            <div class="booking-location">
                <p><strong>Address:</strong> {{ booking.property.address }}</p>
                <p><strong>City:</strong> {{ booking.property.city }}</p>
                <p><strong>ZIP:</strong> {{ booking.property.zip }}</p>
                <p><strong>Country:</strong> {{ booking.property.country }}</p>
            </div>

            {# DESCRIPTION DE L'HÔTE #}
            <div class="booking-location">
                {# Affichage du username de l'hébergeur #}
                <p>
                    <strong>Your host:</strong> <a class="link-to-host" href="{{ path('show_user', {'id': booking.property.user.id}) }}">{{booking.property.user.username}}</a>
                </p>
                {# Affichage du nombre d'hébergement publier par l'hébergeur #}
                <p>
                    <strong>Accommodations:</strong> {{ booking.property.user.properties|length }} {{ booking.property.user.properties|length == 1 ? 'property' : 'properties' }}
                </p>

                {# Vérifie si la date d'adhésion de l'utilisateur est antérieure à un an avant la date actuelle #}
                {% if date("now") >= booking.user.createdAt|date_modify('-1 year') %}
                    <p><strong>With us since:</strong> {{ booking.user.createdAt|date('M Y') }}</p>
                {% else %}
                    {% set yearsSinceCreation = date("now")|date('Y-m-d') - booking.user.createdAtdate('Y-m-d') %}
                    <p><strong>Member for:</strong> {{ yearsSinceCreation }} {{ yearsSinceCreation == 1 ? 'year' : 'years' }}</p>
                {% endif %}
                
                {# Bouton pour envoyer un message à l'hôte #}
                <div>
                    <h4 class="tac">
                        <a href="" class="msg-btn">Send a message</a>
                    </h4>
                </div>
            </div>

        </div>

    </div>

    {# AFFICHAGE DU COMMENTAIRE OU DU FORMULAIRE D'AVIS SUR L'ANNONCE (qui ne peut être affiché qu'après que le séjour soit fini) #}
    <div class="feedback tac">

        {# Calcul du temps écoulé depuis la fin du séjour pour afficher le formulaire de commentaire #}
        {% set endDateStr = booking.endDate|date('Y-m-d') ~ ' ' ~ booking.property.checkOut|date('H:i') %}
        {% set endDate = endDateStr|date('Y-m-d H:i:s') %}

        {# Affichage du formulaire de commentaire si le séjour est terminé #}
        {% if date('now') < endDate %}
            <h3 class="tac">Your feedback matters !</h3>
            {{ form_start(formAddFeedback) }}
                <div class="feedback-container tac">
                    <div class="feedback-form-card">
                        <div class="form-col">
                            {{ form_label(formAddFeedback.rating, 'Rating') }}
                            {# Sélection de la note avec des étoiles #}
                            <div class="star-rating" id="star-rating">
                                <span class="star" data-rating="1">&#9733;</span>
                                <span class="star" data-rating="2">&#9733;</span>
                                <span class="star" data-rating="3">&#9733;</span>
                                <span class="star" data-rating="4">&#9733;</span>
                                <span class="star" data-rating="5">&#9733;</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                {{ form_row(formAddFeedback.comment) }}
                            </div>
                        </div>
                        {{ form_row(formAddFeedback.publish) }}
                    </div>
                </div>
                {{ form_errors(formAddFeedback) }}
            {{ form_end(formAddFeedback) }}
        {# Si aucune condition précédente n'est remplie #}
        {% elseif date('now') > endDate %}
            {# Afficher un message indiquant que un commentaire peut être laissé seulement à la fin du séjour #}
            <div class="feedback-container">
                <h3 class="gold-text-stroke">About the feedback !</h3>
                <p class="feedback-info-card">We look forward to hearing about your experience! Please note that you will be able to share your feedback at the end of your stay. Your opinion is important to us! Thank you for your understanding and see you soon !</p>
            </div>
        {# Sinon, s'il y a des commentaires pour cet hébergement, affichage des commentaires des voyageurs #}
        {% elseif feedback.user == booking.user and booking.property.feedback|length > 0 %}
            <h3>Your Experience</h3>
            <div class="feedback-container">
                {# Boucle pour récupérer les commentaires laissés par les utilisateurs ayant séjourné dans l'hébergement #}
                {% for feedback in booking.property.feedback %}
                    {# Filtrer ceux appartenant à l'utilisateur actuel #}
                    {# {% if feedback.user == booking.user %} #}
                        <div class="feedback-card">

                            <div class="space-between">
                                {# Affichage de la date de publication du commentaire #}
                                <p class="feedback-date">{{ feedback.createdAt|date('d/m/Y H:i') }}</p>

                                {# Affichage de la note de l'hébergement (séjour) laissée par le voyageur #}
                                <div class="star-rating">
                                    <span id="average-rating">{{ feedback.rating|number_format(1, ',') }}</span>
                                    {# Boucle pour déterminer l'affichage des étoiles en parcourant de 1 à 5 inclusivement #}
                                    {% for i in 1..5 %}
                                        {# Vérifie si la valeur actuelle de l'itérateur i est inférieure ou égale à la note #}
                                        {% if i <= feedback.rating %}
                                            {# Si la note est supérieure ou égale à i, afficher une étoile pleine #}
                                            <span class="star rated">&#9733;</span>
                                        {% else %}
                                            {# Sinon, afficher une étoile vide #}
                                            <span>&#9733;</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {# Affichage du nom d'utilisateur du voyageur #}
                            <a href="" class="traveler-username">{{ feedback.user.username }}</a>

                            {# Affichage du contenu du commentaire #}
                            <p class="feedback-comment">{{ feedback.comment }}</p>

                            <div class="feedback-delete">
                                <a class="delete-btn" href="{{ path('delete_feedback', {'id': feedback.id}) }}">
                                    <span class="material-symbols-outlined">delete</span>
                                </a>
                            </div>
                            
                        </div>
                    {# {% endif %} #}
                {% endfor %}
            </div>

        {# Si aucune condition précédente n'est remplie #}
        {% else %}
            {# Afficher un message indiquant que un commentaire peut être laissé seulement à la fin du séjour #}
            <div class="host-container tac">
                <p>You can only leave a review at the end of your stay !</p>
            </div>
        {% endif %}

    </div>
    </div>

{% endblock %}