<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>CN</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {% for stylesheet in ['app.css', 'home.css', 'property.css', 'booking.css', 'user.css', 'form.css', 'feedback.css'] %}
            <link rel="stylesheet" href="{{ asset('styles/' ~ stylesheet) }}"/>
        {% endfor %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
                <left class="leftNav">
                    <h1 ><a class="brand" href="{{ path('app_home') }}">CryptoNest</a></h1>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_user') }}">
                            <i id="fa-users" class="fa-solid fa-users"></i>
                        </a>
                    {% endif %}
                </left>
                <mid class="midNav">
                    <form action="{{ path('search_by_city') }}" method="get">
                        <label for="city"></label>
                        <input type="text" id="city" name="city" class="search-form-control" value="{{ app.request.query.get('city') }}" placeholder="WHERE ?"/>
                        <button class="search-btn" type="submit">Search</button>
                    </form>
                </mid>
                <right class="rightNav">
                    <ul class="rightRightNav">
                        <div class="burger-menu">
                                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                                <label for="menu-toggle" class="menu-icon">
                                    <i class="fas fa-bars" style="color: #ffffff;"></i>
                                </label>
                            <ul class="dropdown-menu">
                                {% if not app.user %}
                                    <li><a href="{{ path('app_login') }}">LOGIN</a></li>
                                    <li><a href="{{ path('app_register') }}">SIGN UP</a></li>
                                {% else %}
                                    <li><a href="{{ path('app_logout') }}">LOGOUT</a></li>
                                {% endif %}
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </div>
                    
                        {% if app.user %}
                            <div class="burger-menu">
                                <input type="checkbox" id="user-toggle" class="menu-toggle">
                                <label for="user-toggle" class="menu-icon">
                                    <i class="fa-regular fa-user"></i>
                                </label>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('show_user', {'id': app.user.id}) }}">MY PROFILE</a></li>
                                    {% if app.user.bookings is not empty %}
                                        <li><a href="{{ path('app_booking') }}">MY RESERVATIONS</a></li>
                                    {% endif %}
                                    {% if app.user.properties is not empty %}
                                        <li><a href="{{ path('app_property') }}">MY PROPERTIES</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('new_property') }}">HOST</a></li>
                                    <li><a href="{{ path('app_logout') }}">LOGOUT</a></li>
                                </ul>
                            </div>
                        {% endif %}
                        
                        <div class="burger-menu">
                            <input type="checkbox" id="globe-toggle" class="menu-toggle">
                            <label for="globe-toggle" class="menu-icon">
                                <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a href="#">ENGLISH</a></li>
                                <li><a href="#">FRENCH</a></li>
                                <li><a href="#">GERMAN</a></li>
                            </ul>
                        </div>
                    </ul>
                </right>    
            </nav>
        </header>
    
        <main id="container-base">
            {% if not app.user %}
            <div></div>
            {% endif %}
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            <div class="footerContainer">
                <h2 class="footerTitle"><a class="brand" href="{{ path('app_home') }}">CryptoNest</a></h2>
            </div>
        </footer>
        {% block javascripts %}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/feedback.js') }}"></script>
            <script src="{{ asset('js/countdown.js') }}"></script>
        {% endblock %}
    </body>
</html>
