{% extends 'base.html.twig' %}

{% block title %}CryptoNest Users List{% endblock %}

{% block body %}
    {% if app.user %}
        <h3 class="title">CryptoNest Users</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="user-container">
                {% if pagination is not empty %}
                <table class="user-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Email</th>
                            <th class="tac">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in pagination %}
                            <tr>
                                <td>
                                    <a class="edit-btn" href="{{ path('edit_user', {'id': user.id}) }}"><span class="material-symbols-outlined">settings</span></a>
                                    <a class="delete-btn" href="{{ path('delete_user', {'id': user.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                                </td>
                                <td>
                                    <a class="link tac" href="{{ path('show_user', {'id': user.id}) }}">{{ user.username }}</a>
                                </td>
                                <td>
                                    <p>{{ user.email }}</p>
                                </td>
                                <td class="tac">
                                    {# {{ app.user.roles|join('<br>')|raw }} #}
                                    {% for role in user.roles %}
                                        <p class="user-role-box" data-role="{{ role|lower|replace({' ': ''}) }}">
                                            {% if role == 'ROLE_ADMIN' %}
                                                Admin
                                            {% elseif role == 'ROLE_USER' %}
                                                Traveller
                                            {% elseif role == 'ROLE_HOST' %}
                                                Host
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}  
                    <p class="center">
                        No registered user
                    </p>
                {% endif %}
            </div> 
            <div class="pagination-container">
                <ul class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
